.btn {
   background-color: $color-gray;
   color: #fff;
   padding: 11px 45px;
   cursor: pointer;  

   font-size: 18px;

   transition: all $transition-normal;
   @include hover {
      background-color: darken($color-gray, 20%);
   }
}