.nav {
  // display: none;

  @include w-to($screen-md) {
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 20;

    width: 100%;
    padding: 20px 15px;
    
    background-color: $color-gray;
    opacity: 0;

    transition-property: left, opacity;
    transition-duration: $transition-slowly;
    transition-timing-function: $transition-function;

    &.m-active {
      left: 0;
      opacity: 1;
    }
  }
 
  &__list {
    @include w-from($screen-md) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;

      @include w-from($screen-md) {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }

  &__link {
    position: relative;
    border-bottom: thin solid transparent;
    color: $color-white;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      bottom: -2px;

      width: 0;
      height: 1px;

      background-color: $color-white;
      transition: width $transition-normal;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.m-active {
      &::before {
        width: 100%;
      }
    }

    @include hover {
      &::before {
        width: 100%;
      }
    }
  }
}
